@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --ibsd-color-one: #e9efeb;
    --ibsd-color-two: #f1e09b;
    --ibsd-color-three: #77b127;
    --ibsd-color-four: #4b723b;
    --ibsd-color-five: #c2dbbe;
    --ibsd-color-six: #48765c;
    --color-heading-white-bg: #283747;
    --color-blueish-grey: #283747;
    --color: #273746;
    --color-brownish: #f2f3f4;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
  
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
}
  
.roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
  
.roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
}
  
.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}
  
.roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
}
  
.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
  
.roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
}
  
.roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
}
  
.roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
}
  
.roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.bg-brownish {
    background-color: var(--color-brownish);
}

.font-blueish-grey {
    color: var(--color-blueish-grey);
}
  
.font-color {
    color: var(--color);
}

body {
    /* background-color: #eee; */
    /* background-color: #f4f3ef; */
    color: #3c4858;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

main > .container {
    padding: 20px 15px 20px;
}

.footer {
    background-color: #f5f5f5;
    font-size: .9em;
    height: 60px;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    content: '';
    left: 3px;
    display: inline-block;
    width: 0;
    height: 0;
    border: solid 5px transparent;
    margin: 4px 4px 2px 4px;
    background: transparent;
}

a.asc:after {
    border-bottom: solid 7px #212529;
    border-top-width: 0;
}

a.desc:after {
    border-top: solid 7px #212529;
    border-bottom-width: 0;
}

.grid-view th,
.grid-view td:last-child {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding-top: 7px;
    color: rgba(255, 255, 255, 0.5);
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.75);
}

.nav > li > form > button.logout:focus {
    outline: none;
}

/* custom css from here */
.side-menu ul {
	list-style-type: none;
	font-size: 13pt;
	margin: 0;
	padding: 14px 0;
	overflow: hidden;
}

.side-menu li {
	margin-bottom: 5px;
}

.side-menu li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #616A6B;
}

.form-label {
    font-weight: 500;
    /* color: var(--color); */
    /* color: #9A9A9A; */
    color: var(--color-blueish-grey);
    /* padding-bottom: 0.5rem; */
}

.card-header {
    font-weight: 700;
}

.form-control::placeholder {
	color: rgba(129, 135, 140, 0.75);
}

.gallery-btn {
    position: absolute;
    bottom: 10%;
    left: 10%;
}

.breadcrumb {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0.75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: 0.25rem;
}

.breadcrumb-item a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

.header-title {
    color: var(--color-blueish-grey);
}

/* .pjax-grid-bg {

} */

.pjax-loading {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.4) url("../img/loading.gif") no-repeat center center;
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    line-height: 200px;
}

/* for list view */
.masonary-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 4rem;
}

.masonary-grid > .masonary-grid-listview-summary {
    grid-column: 1 / -1;
}

.masonary-grid > .masonary-grid-listview-pager {
    grid-column: 1 / -1;
}

.masonary-grid > .masonary-grid-item {
    margin-bottom: 3rem;;
}
/* 
} */

.nav-activity .nav-link.active {
    border-bottom: 0.2rem solid #0cccf2;
}